
snippet tit "Title seperator" b
# ============================================================================
# $1
# ============================================================================
$0
endsnippet

snippet sec "Section seperator" b
# ----------------------------------------------------------------------------
# $1
# ----------------------------------------------------------------------------
$0
endsnippet

