
snippet not "GitHub Note" b
> [!NOTE]
> $1
$0
endsnippet

snippet tip "GitHub Tip" b
> [!TIP]
> $1
$0
endsnippet

snippet imp "GitHub Important" b
> [!IMPORTANT]
> $1
$0
endsnippet

snippet war "GitHub Warning" b
> [!WARNING]
> $1
$0
endsnippet

snippet cau "GitHub Caution" b
> [!CAUTION]
> $1
$0
endsnippet


