
snippet green "Green text" bA
<p style="color:green">
$1
</p>
$0
endsnippet

snippet red "Red text" bA
<p style="color:red">
$1
</p>
$0
endsnippet

snippet orange "Orange text" bA
<p style="color:orange">
$1
</p>
$0
endsnippet

snippet icon "Icon image" bA
<a href="https://github.com/anuraghazra/convoychat">
<img height=${1:50} align="center" src="https://go-skill-icons.vercel.app/api/icons?i=${2:name}" />
</a>
$0
endsnippet
