
snippet img "Include image" b
![$1]($2)
$0
endsnippet

snippet himg "Include html image with width" b
<img src="$1" width="$2px" />
$0
endsnippet

snippet lin "Include link" b
[${1:description}](${2:link})
$0
endsnippet

