snippet green "Surround green" i
<p style="color:green">
${1:${VISUAL}}
</p>
$0
endsnippet

snippet red "Surround red" i
<p style="color:red">
${1:${VISUAL}}
</p>
$0
endsnippet


snippet vit "Surround italic" i
*${1:${VISUAL}}}* $0
endsnippet

snippet vbo "Surround bold" i
**${1:${VISUAL}}}** $0
endsnippet

